body{
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  background: #F4F4F4;
  overflow: hidden;
}

nav a.setorPagina {
  font-family: MuseoModerno;
  font-size: 22px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}

nav a.redesSociais {
  background-color: #F4F4F4;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.Descrição {
  background-color: #F4F4F4;
  vertical-align: middle;
}

.Descrição h2{
  margin-top: 36px;
}


.DescriçãoProjeto1 {
  background-color: #D7CEC7;
  vertical-align: middle;
  display: inline-block;
}

.DescriçãoProjeto1-2 {
  background-color: #D7CEC7;
  vertical-align: middle;
}

.DescriçãoProjeto1-3 {
  background-color: #F4DECB;
  vertical-align: middle;
}

.DescriçãoProjeto1-4 {
  background-color: #CCDFCB;
  vertical-align: middle;
}

.DescriçãoProjeto2 {
  background-color: #F4F4F4;
  vertical-align: middle;
}

.DescriçãoProjeto2-2 {
  background-color: #F8EEE7;
  vertical-align: middle;
}

.DescriçãoProjeto3 {
  background-color: #D7CEC7;
  vertical-align: middle;
}

.DescriçãoProjeto3-1 {
  background-color: #CACFD3;
  vertical-align: middle;
}

.linha{
  background-color: #D7CEC7;
}

.linha1{
  background-color: #CACFD3;
}

footer > h2{
  padding-top: 28px;
}

h2 {
  width: 100%;
  font-family: Staatliches;
  text-align: center;
  font-size: 48px;
  padding-top: 48px;
  padding-bottom: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.imagem-esquerda{
  width: 400px;
  height: 400px;
  padding: 0px 100px 0px 100px;
  float: left;
}

.imagem-direita{
  width: 30%;
  height: 44%;
  padding: 50px 5% 0px 10%;
  float: right;
}

.imagem-centro{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.texto-direita{
  height: 400px;
  margin: 0px;
  padding-right: 100px;
  padding-bottom: 36px;
  display: table-cell;
  vertical-align: middle;
  font-family: Balsamiq Sans;
  font-size: 24px;
  text-align: justify;
}

.texto-esquerda{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  margin: auto;
  width: 50%;
  padding-left: 5%;
  padding-bottom: 75px;
  padding-top: 50px;
  font-family: Balsamiq Sans;
  font-size: 24px;
  text-align: justify;
}

.texto{
  vertical-align: middle;
  line-height: 1.5;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 75px;
  padding-top: 50px;
  font-family: Balsamiq Sans;
  font-size: 24px;
  text-align: justify;
}


.imagem-linha-esquerda {
 float: left;
 width: 35%;
 padding-left: 10%;
 padding-right: 5%;
 padding-bottom: 50px;
}

.imagem-linha-direita {
 float: left;
 width: 35%;
 padding-left: 5%;
 padding-right: 10%;
 padding-bottom: 50px;
}

.imagem-linha-esquerda1 {
 float: left;
 width: 23%;
 height: 600px;
 padding-left: 10%;
 padding-right: 5%;
 padding-bottom: 50px;
}

.imagem-linha-centro {
 float: left;
 width: 24%;
 height: 600px;
 padding-left: 0;
 padding-right: 0;
 padding-bottom: 50px;
}

.imagem-linha-direita1 {
 float: left;
 width: 23%;
 height: 600px;
 padding-left: 5%;
 padding-right: 10%;
 padding-bottom: 50px;
}

.linha::after {
 content: "";
 clear: both;
 display: table;
}

.linha1::after {
 content: "";
 clear: both;
 display: table;
}

footer{
  background-color: black;
  color: white;
  font-family: Balsamiq Sans;
  font-size: 18px;
}

h3{
  font-size: 28px;
}

.Sobre {
  display: inline-block;
  width: 100%;
}

.quemSou{
  float: left;
  width: 30%;
}

.contato{
  float: right;
}

.quemSou, .contato{
  display: inline;
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 28px;
  text-align: justify;
}

.imagem{
  width: 300px;
  height: 300px;
  padding: 0px 100px 36px 100px;
  float: left;
  border-radius: 50%;
}
