nav {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  background: white;
  overflow: hidden;
}

nav a.setorPagina {
  font-family: MuseoModerno;
  font-size: 22px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}

nav a.redesSociais {
  background-color: white;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  max-width: 600px;
}

.ImagemMateria {
  align-self: center;
  align-items: center;
  align-content: center;
}

main section a figure figcaption {
  font-family: Architects Daughter;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  padding: 10px;
}

main section a figure {
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  height: 273.4px;
}

main section a figure img {
  width: 100px;
  height: 100px;
  padding-top: 25px;
}

.Descrição {
  background-color: lightgray;
  vertical-align: middle;
}

h2 {
  font-family: Staatliches;
  text-align: center;
  font-size: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 35px;
  margin-bottom: 0px;
}

.imagem{
  width: 300px;
  height: 300px;
  padding: 0px 100px 36px 100px;
  float: left;
  border-radius: 50%;
}

.texto{
  height: 300px;
  margin: 0px;
  padding-right: 100px;
  padding-bottom: 36px;
  display: table-cell;
  vertical-align: middle;
  font-family: Balsamiq Sans;
  font-size: 24px;
  text-align: justify;
}

footer{
  background-color: black;
  color: white;
  font-family: Balsamiq Sans;
  font-size: 18px;
}

h3{
  font-size: 28px;
}

.Sobre {
  display: inline-block;
  width: 100%;
}

.quemSou{
  max-width: 50%;
}

.quemSou, .contato{
  display: inline;
  float: left;
  padding-left: 30px;
}
